body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  font-size: calc(0.8em + 0.3vw);
}

.container-iottable {
  padding: 20px 10vw 0;
}

/* Medium devices (tablets, 768px) */
@media (max-width: 768px) {
  .container-iottable {
    padding: 10px 5vw 0;
  }
}

/* Small devices (landscape phones, 576px) */
@media (max-width: 576px) {
  html {
    font-size: calc(0.7em + 0.3vw);
  }
}
